:root {
    --color-primary: #d9d9d9;  
    --color-secondary: #ff4c4c;
    --background: #232323; 
    --shadow-color: rgba(0, 0, 0, 0.7);
    --danger: 255, 32, 32;
}

html, body {

    margin: 0;


    background-color: var(--background);
    font-family: Outfit, serif;
}

body {







    text-align: center;
    color: var(--color-primary);
}

.vse {

    padding: 1rem 2rem;



    max-width: 760px;
    margin: 0 auto;
}

.foto img {
    width: 100%; 

    display: block;
}
.foto {
    overflow: hidden;
    border-radius: 8px;
    margin: 20px auto;
    box-shadow: 0 0 30px 10px var(--color-secondary);
    filter: brightness(70%);
    max-height: 50vh;
    aspect-ratio: 1/1;
}
.text {
    font-size: 1.2em;
    margin: 1.5em 0;
    
    text-shadow: 1px 1px 10px var(--color-secondary); 
}

.popis{

    margin: 20px 0;
    color: var(--color-primary); 
    text-shadow: 1px 1px 10px var(--color-secondary); 
}


.end {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 20px 0;
    color: rgb(var(--danger)); 
    text-shadow: 3px 3px 15px rgba(var(--danger), 0.8);
    letter-spacing: .125em;
}

.options {
    list-style: none;
    padding: 0;
    margin-top: 30px;
}

.options li {
    margin: 10px 0;
}

.options li a {
    display: inline-block;
    text-decoration: none;
    font-size: 1.1rem;
    color: var(--color-secondary);
    background-color: var(--background);
    padding: .7em 1.7em;
    border: 2px solid var(--color-secondary);
    border-radius: 8px;
    overflow: hidden;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.3s ease;
    
    box-shadow: 0 0 8px rgba(255, 0, 0, 0.7);
}

.options li a:hover {
    background-color: var(--color-secondary); 
    color: var(--color-primary); 
    border-color: var(--color-primary); 
    transform: scale(1.05); 
    box-shadow: 0 0 15px rgba(var(--danger), 1); 
}

.options li a:active {
    
    
    
    
    
}

@media (max-width: 480px) {
    body {


    }

    .foto img {

    }

    .text {

    }

    .options li a {


    }
}

